main .main-mid {
    @include flex(column, space-evenly, center);
    background-color: $background-color-1;
    padding-bottom: 3rem;

    @media screen and (max-width: 780px) {
        padding-bottom: 2rem;
    }
    @media screen and (max-width: 540px) {
        padding-bottom: 1rem;
    }
    // ---------------------------------------------------HEADER BLACK------------------------------------------------
    .header-black-wrap {
        padding: 2rem;
        text-align: center;
        color: $text-color-black;
        
        .color-white {
            color: $text-color-white;
            text-shadow: $text-shadow-black1;
        }

        @media screen and (max-width: 780px) {
            padding: 1rem;
        }
    }
    // ----------------------------------------------------PRODUCT----------------------------------------------------
    .service-text-wrap {
        @include flex(row, space-between, flex-start);
        @include size(123vh, 13vh);
        @include service-text-wrap-mq;
        .service-text {
            @include flex(column, center, center);
            text-align: center;
        }
    }
    .btn-buy-wrap {
        @include flex(row, space-between, center);
        @include btn-buy-wrap-mq;
        width: 123vh;
        .btn-buy {
            @include size(13.5rem, 2.3rem);
            @include btn-buy-mq;
            border-radius: 0.5rem;
            border: 0;
            outline: none;
            text-transform: uppercase;
            font-weight: 600;
            cursor: pointer;
        }
        .btn-primary {
            background-color: hsl(202, 95%, 46%);
            color: $text-color-white;
            transition: background 70ms;
        }
        .btn-primary:hover, .btn-primary:focus {
            background-color: hsl(202, 95%, 51%);
        }
        .btn-primary:active {
            background-color: hsl(202, 95%, 41%);
        }
    }
    // ----------------------------------------------------ABOUT------------------------------------------------------
    .about-company-text-wrap {
        @include flex(column, space-between, center);
        @include size(80vh, 15vh);
        
        @media screen and (max-width: 1080px) {
            @include size(60vh, 12vh);
        }
        @media screen and (max-width: 780px) {
            @include size(40vh, 8vh);
        }
        @media screen and (max-width: 540px) {
            @include size(30vh, 6vh);
        }

        .about-company-text {
            text-align: center;
        }
    }
    // ---------------------------------------------------CONTACT-----------------------------------------------------
    .contact-text-wrap {
        @include flex(column, space-betweence, center);
        @include size(80vh, 12vh);

        @media screen and (max-width: 1080px) {
            @include size(60vh, 10vh);
        }
        @media screen and (max-width: 780px) {
            @include flex(column, center, center);
            @include size(40vh, 8vh);
        }
        @media screen and (max-width: 540px) {
            @include size(20vh, 6vh);
        }

        .contact-text {
            text-align: center;
            margin-bottom: 1rem;

            @media screen and (max-width: 780px) {
                margin-bottom: 0.5rem;
            }
            @media screen and (max-width: 540px) {
                margin-bottom: 0.25rem;
            }
        }
    }
}


