main .main-mid {
    @include flex(column, space-evenly, center);
    background-color: $background-color-1;
    padding-bottom: 3rem;

    .header-wrap-black {
        padding: 2rem;
        text-align: center;
        color: $text-color-black;

        @media screen and (max-width: 780px) {
            padding: 1rem;
        }
    }
    .service-text-wrap {
        @include flex(row, space-between, flex-start);
        @include size(80%, 50vh);
        border: solid 1px red;
    }
    .service-text {
        @include flex(column, center, center);
        border: solid 1px green;
    }
}


