main .main-top {
    @include flex(column, space-evenly, center);
    @include size(100%, 60vh);
    background-image: url(images/matix2.png);
    background-repeat: round;

    // background-image
    @media screen and (max-width: 1080px) {
        @include size(100%, 50vh);
    }
    @media screen and (max-width: 780px) {
        @include size(100%, 30vh);
    }
    @media screen and (max-width: 540px) {
        @include size(100%, 20vh);
    }

    h1 {
        text-shadow: $text-shadow-white2;
        text-align: center;
    }
    .color-white {
        color: $text-color-white;
        text-shadow: $text-shadow-black2;
    }
    .uknown-logo {
        @include size(30vh, 30vh);

        @media screen and (max-width: 1080px) {
            @include size(25vh, 25vh);
        }
        @media screen and (max-width: 780px) {
            @include size(15vh, 15vh);
        }
        @media screen and (max-width: 540px) {
            @include size(10vh, 10vh);
        }
    }
}