main .main-bottom {
    @include flex(column, space-evenly, center);
    background-color: $background-color-2;
    
    .color-white {
        color: $text-color-white;
    }
    .header-wrap {
        padding: 2rem;
        text-align: center;

        @media screen and (max-width: 780px) {
            padding: 1rem;
        }
    }
    .broschyr-wrap {
        @include flex(row, center, center);

        @media screen and (max-width: 1080px) {
            @include flex(column, center, center);
        }
    }
    .broschyr {
        @include size(70%, 45vh);
        padding: 1rem;

        @media screen and (max-width: 1080px) {
            @include size(70%, 50%);
        }
        @media screen and (max-width: 780px) {
            @include size(60%, 50%);
        }
    }
    .product-wrap2 {
        @include flex(row, space-evenly, center);

        @media screen and (max-width: 1080px) {
            @include flex(row, center, center);
        }
    }
    .logotype2 {
        @include size(70%, 30vh);
        padding: 1rem;

        @media screen and (max-width: 1080px) {
            @include size(25%, 50%);
        }
        @media screen and (max-width: 780px) {
            @include size(30%, 50%);
        }
    }
    .conact-form-wrap {
        @include flex(column, center, center);
        @include size(40%, 50vh);
        @include contact-from;
    }
    .face-img-wrap {
        @include flex(row, space-between, center);
        @include size(96vh, 20vh);
        @include face-img-wrap-mq;
        // border: 1px solid red;
    }
    .face-img {
        @include flex(column, space-between, center);
        @include size(20vh, 20vh);
        @include face-img-mq;
        // border: 1px solid green;
    }
    .about-text-wrap {
        @include flex(row, space-between, center);
        @include size(100vh, 20vh);
        @include about-text-wrap-mq;
        // border: 1px solid pink;
    }
    .about-text {
        @include flex(column, space-between, center);
        padding-bottom: 5rem;
        // border: 1px solid yellow;
        color: $text-color-white;
    }
    p {
        font-size: 1rem;

        @include about-p-mq;
    }
}




