@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin flex($direction, $justify, $align, $wrap:nowrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}

@mixin topnav ($hover-color, $active-color) {
    .topnav-a a{
        padding: 1rem;
        text-decoration: none;
        color: #000;
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
    }
    .topnav-a .active {
        color:$active-color;
    }
    a:hover {
        color: $hover-color;
    }
    
}