@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
//-------------------------------------HEADER TOPNAV--------------------------------------
@mixin topnav ($hover-color, $active-color) {
    .topnav-a {
        @include flex(row, space-between, center);
    }

    a {
        padding: 1rem;
        text-decoration: none;
        color: #000;
        text-align: center;
        font-weight: bold;

        @media screen and (max-width: 1080px) {
            padding: 0.7rem;
        }
        @media screen and (max-width: 780px) {
            padding: 0.5rem;
        }
        @media screen and (max-width: 540px) {
            padding: 0.2rem;
        }
    }
    .active {
        color:$active-color;
    }
    a:hover {
        color: $hover-color;
    }
}
//-------------------------------------CONTACT--------------------------------------------
@mixin contact-from {
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #d8d8d8;

    input, textarea {
        font-size: 0.8rem;

        @media screen and (max-width: 780px) {
            font-size: 0.5rem;
        }
        @media screen and (max-width: 540px) {
            font-size: 0.4rem;
        }
    }

    .input-group-wrap {
        @include flex(row, space-between, center);
    }
    .input-group {
        margin-bottom: 1rem;
        width: 45%;

        label {
            font-weight: bold;
            font-size: 0.9rem;

            @media screen and (max-width: 780px) {
                font-size: 0.7rem;
            }
            @media screen and (max-width: 540px) {
                font-size: 0.5rem;
            }
        }
    }
    .input-group2 {
        margin-bottom: 1rem;

        label {
            font-weight: bold;
            font-size: 0.9rem;

            @media screen and (max-width: 780px) {
                font-size: 0.7rem;
            }
            @media screen and (max-width: 540px) {
                font-size: 0.5rem;
            }
        }
    }
    .input-group3 {
        @include flex(row, flex-start, center);
        margin-bottom: 1rem;
        font-size: 0.9rem;

        @media screen and (max-width: 780px) {
            font-size: 0.7rem;
        }
        @media screen and (max-width: 540px) {
            font-size: 0.5rem;
        }
    }
    .radio-text, .terms-text {
        padding-left: 0.25rem;
    }
    .input-label {
        width: 100%;
        margin-bottom: 0.5rem;
    }
    .form-control {
        width: 100%;
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: 1px solid #d8d8d8;
    }
    .form-control2 {
        @include size(100%, 10vh);
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: 1px solid #d8d8d8;

        @media screen and (max-width: 780px) {
            @include size(100%, 5vh);
        }
    }

    .btn-submit {
        width: 100%;
        padding: 0.8em 1.4em;
        border-radius: 0.5rem;
        border: 0;
        outline: none;
        text-transform: uppercase;
        font-weight: 600;
        cursor: pointer;

        @media screen and (max-width: 540px) {
            font-size: 0.5rem;
        }
    }
    .btn-primary {
        background-color: hsl(202, 95%, 46%);
        color: #ffffff;
        transition: background 70ms;
    }
    .btn-primary:hover, .btn-primary:focus {
        background-color: hsl(202, 95%, 51%);
    }
    .btn-primary:active {
        background-color: hsl(202, 95%, 41%);
    }
}
//-------------------------------------PRODUCT MQ-----------------------------------------
@mixin service-text-wrap-mq {
    @media screen and (max-width: 1200px) {
        width: 103vh;
    }
    @media screen and (max-width: 1080px) {
        @include size(93vh, 10vh);
    }
    @media screen and (max-width: 900px) {
        width: 83vh;
    }
    @media screen and (max-width: 780px) {
        @include size(53vh, 5vh);
    }
    @media screen and (max-width: 540px) {
        @include size(43vh, 4vh);
    }
    @media screen and (max-width: 400px) {
        width: 33vh;
    }
}
@mixin btn-buy-wrap-mq {
    @media screen and (max-width: 1200px) {
        width: 103vh;
    }
    @media screen and (max-width: 1080px) {
        width: 93vh;
    }
    @media screen and (max-width: 900px) {
        width: 83vh;
    }
    @media screen and (max-width: 780px) {
        width: 53vh;
    }
    @media screen and (max-width: 540px) {
        width: 43vh;
    }
    @media screen and (max-width: 400px) {
        width: 33vh;
    }
}
@mixin btn-buy-mq {
    @media screen and (max-width: 1630px) {
        height: 2rem
    }
    @media screen and (max-width: 1080px) {
        @include size(10.8rem, 1.5rem);
        font-size: 0.7rem;
        border-radius: 0.4rem;
    }
    @media screen and (max-width: 780px) {
        @include size(5.4rem, 1rem);
        font-size: 0.5rem;
        border-radius: 0.3rem;
    }
    @media screen and (max-width: 540px) {
        @include size(4.1rem, 0.5rem);
        font-size: 0.3rem;
        border-radius: 0.15rem;
    }
}
//-------------------------------------ABOUT MQ-------------------------------------------
@mixin face-img-wrap-mq {
    @media screen and (max-width: 1630px) {
        @include size(96vh, 20vh);
        padding-bottom: 2rem;
    }
    @media screen and (max-width: 1080px) {
        @include size(86vh, 15vh);
        padding-bottom: 0.5rem;
    }
    @media screen and (max-width: 900px) {
        @include size(76vh, 15vh);
    }
    @media screen and (max-width: 780px) {
        @include size(60vh, 10vh);
    }
    @media screen and (max-width: 650px) {
        @include size(50vh, 10vh);
    }
    @media screen and (max-width: 540px) {
        @include size(46vh, 8vh);
        padding-bottom: 0.25rem;
    }
    @media screen and (max-width: 450px) {
        @include size(36vh, 8vh);
    }
}
@mixin face-img-mq {
    @media screen and (max-width: 1080px) {
        @include size(15vh, 15vh);
    }
    @media screen and (max-width: 780px) {
        @include size(10vh, 10vh);
    }
    @media screen and (max-width: 540px) {
        @include size(8vh, 8vh);
    }
}
@mixin about-text-wrap-mq {
    @media screen and (max-width: 1630px) {
        @include size(103vh, 20vh);
    }
    @media screen and (max-width: 1080px) {
        @include size(93vh, 20vh);
    }
    @media screen and (max-width: 900px) {
        @include size(83vh, 20vh);
    }
    @media screen and (max-width: 780px) {
        @include size(61vh, 15vh);
    }
    @media screen and (max-width: 650px) {
        @include size(51vh, 15vh);
    }
    @media screen and (max-width: 540px) {
        @include size(46vh, 14vh);
    }
    @media screen and (max-width: 450px) {
        @include size(36vh, 14vh);
    }
}

