$background-color-1: #fff;
$background-color-2: #101010;

$hover-color: #0693e3;
$active-color: #1279be;

$text-shadow-white: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
$text-shadow-black: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;