header .topnav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 6rem;
  position: fixed;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2509803922);
}
header .topnav .topnav-a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .topnav a {
  padding: 1rem;
  text-decoration: none;
  color: #000;
  text-align: center;
  font-weight: bold;
}
@media screen and (max-width: 1080px) {
  header .topnav a {
    padding: 0.7rem;
  }
}
@media screen and (max-width: 780px) {
  header .topnav a {
    padding: 0.5rem;
  }
}
@media screen and (max-width: 540px) {
  header .topnav a {
    padding: 0.2rem;
  }
}
header .topnav .active {
  color: #1279be;
}
header .topnav a:hover {
  color: #0693e3;
}
@media screen and (max-width: 1080px) {
  header .topnav {
    width: 100%;
    height: 4rem;
  }
}
@media screen and (max-width: 780px) {
  header .topnav {
    width: 100%;
    height: 3rem;
  }
}
@media screen and (max-width: 540px) {
  header .topnav {
    width: 100%;
    height: 2rem;
  }
}
header .topnav .topnav-logo-h1-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .topnav .topnav-logo-h1-wrap h1 {
  text-shadow: -0.5px -0.5px 0 #fff, 0.5px -0.5px 0 #fff, -0.5px 0.5px 0 #fff, 0.5px 0.5px 0 #fff;
}
header .topnav .topnav-logo-h1-wrap .color-white {
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
header .topnav .uknown-logo-small {
  width: 3vh;
  height: 3vh;
}
@media screen and (max-width: 1080px) {
  header .topnav .uknown-logo-small {
    width: 1.9vh;
    height: 1.9vh;
  }
}
@media screen and (max-width: 780px) {
  header .topnav .uknown-logo-small {
    width: 1.7vh;
    height: 1.7vh;
  }
}
@media screen and (max-width: 540px) {
  header .topnav .uknown-logo-small {
    width: 1.5vh;
    height: 1.5vh;
  }
}

main .main-mid {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  padding-bottom: 3rem;
}
@media screen and (max-width: 780px) {
  main .main-mid {
    padding-bottom: 2rem;
  }
}
@media screen and (max-width: 540px) {
  main .main-mid {
    padding-bottom: 1rem;
  }
}
main .main-mid .header-black-wrap {
  padding: 2rem;
  text-align: center;
  color: #000;
}
main .main-mid .header-black-wrap .color-white {
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
@media screen and (max-width: 780px) {
  main .main-mid .header-black-wrap {
    padding: 1rem;
  }
}
main .main-mid .service-text-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 123vh;
  height: 13vh;
}
@media screen and (max-width: 1200px) {
  main .main-mid .service-text-wrap {
    width: 103vh;
  }
}
@media screen and (max-width: 1080px) {
  main .main-mid .service-text-wrap {
    width: 93vh;
    height: 10vh;
  }
}
@media screen and (max-width: 900px) {
  main .main-mid .service-text-wrap {
    width: 83vh;
  }
}
@media screen and (max-width: 780px) {
  main .main-mid .service-text-wrap {
    width: 53vh;
    height: 5vh;
  }
}
@media screen and (max-width: 540px) {
  main .main-mid .service-text-wrap {
    width: 43vh;
    height: 4vh;
  }
}
@media screen and (max-width: 400px) {
  main .main-mid .service-text-wrap {
    width: 33vh;
  }
}
main .main-mid .service-text-wrap .service-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main .main-mid .btn-buy-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 123vh;
}
@media screen and (max-width: 1200px) {
  main .main-mid .btn-buy-wrap {
    width: 103vh;
  }
}
@media screen and (max-width: 1080px) {
  main .main-mid .btn-buy-wrap {
    width: 93vh;
  }
}
@media screen and (max-width: 900px) {
  main .main-mid .btn-buy-wrap {
    width: 83vh;
  }
}
@media screen and (max-width: 780px) {
  main .main-mid .btn-buy-wrap {
    width: 53vh;
  }
}
@media screen and (max-width: 540px) {
  main .main-mid .btn-buy-wrap {
    width: 43vh;
  }
}
@media screen and (max-width: 400px) {
  main .main-mid .btn-buy-wrap {
    width: 33vh;
  }
}
main .main-mid .btn-buy-wrap .btn-buy {
  width: 13.5rem;
  height: 2.3rem;
  border-radius: 0.5rem;
  border: 0;
  outline: none;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}
@media screen and (max-width: 1630px) {
  main .main-mid .btn-buy-wrap .btn-buy {
    height: 2rem;
  }
}
@media screen and (max-width: 1080px) {
  main .main-mid .btn-buy-wrap .btn-buy {
    width: 10.8rem;
    height: 1.5rem;
    font-size: 0.7rem;
    border-radius: 0.4rem;
  }
}
@media screen and (max-width: 780px) {
  main .main-mid .btn-buy-wrap .btn-buy {
    width: 5.4rem;
    height: 1rem;
    font-size: 0.5rem;
    border-radius: 0.3rem;
  }
}
@media screen and (max-width: 540px) {
  main .main-mid .btn-buy-wrap .btn-buy {
    width: 4.1rem;
    height: 0.5rem;
    font-size: 0.3rem;
    border-radius: 0.15rem;
  }
}
main .main-mid .btn-buy-wrap .btn-primary {
  background-color: hsl(202deg, 95%, 46%);
  color: #fff;
  transition: background 70ms;
}
main .main-mid .btn-buy-wrap .btn-primary:hover, main .main-mid .btn-buy-wrap .btn-primary:focus {
  background-color: hsl(202deg, 95%, 51%);
}
main .main-mid .btn-buy-wrap .btn-primary:active {
  background-color: hsl(202deg, 95%, 41%);
}
main .main-mid .about-company-text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80vh;
  height: 15vh;
}
@media screen and (max-width: 1080px) {
  main .main-mid .about-company-text-wrap {
    width: 60vh;
    height: 12vh;
  }
}
@media screen and (max-width: 780px) {
  main .main-mid .about-company-text-wrap {
    width: 40vh;
    height: 8vh;
  }
}
@media screen and (max-width: 540px) {
  main .main-mid .about-company-text-wrap {
    width: 30vh;
    height: 6vh;
  }
}
main .main-mid .about-company-text-wrap .about-company-text {
  text-align: center;
}
main .main-mid .contact-text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-betweence;
  align-items: center;
  width: 80vh;
  height: 12vh;
}
@media screen and (max-width: 1080px) {
  main .main-mid .contact-text-wrap {
    width: 60vh;
    height: 10vh;
  }
}
@media screen and (max-width: 780px) {
  main .main-mid .contact-text-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vh;
    height: 8vh;
  }
}
@media screen and (max-width: 540px) {
  main .main-mid .contact-text-wrap {
    width: 20vh;
    height: 6vh;
  }
}
main .main-mid .contact-text-wrap .contact-text {
  text-align: center;
  margin-bottom: 1rem;
}
@media screen and (max-width: 780px) {
  main .main-mid .contact-text-wrap .contact-text {
    margin-bottom: 0.5rem;
  }
}
@media screen and (max-width: 540px) {
  main .main-mid .contact-text-wrap .contact-text {
    margin-bottom: 0.25rem;
  }
}

main .main-top {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 60vh;
  background-image: url(images/matix2.png);
  background-repeat: round;
}
@media screen and (max-width: 1080px) {
  main .main-top {
    width: 100%;
    height: 50vh;
  }
}
@media screen and (max-width: 780px) {
  main .main-top {
    width: 100%;
    height: 30vh;
  }
}
@media screen and (max-width: 540px) {
  main .main-top {
    width: 100%;
    height: 20vh;
  }
}
main .main-top h1 {
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  text-align: center;
}
main .main-top .color-white {
  color: #fff;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}
main .main-top .uknown-logo {
  width: 30vh;
  height: 30vh;
}
@media screen and (max-width: 1080px) {
  main .main-top .uknown-logo {
    width: 25vh;
    height: 25vh;
  }
}
@media screen and (max-width: 780px) {
  main .main-top .uknown-logo {
    width: 15vh;
    height: 15vh;
  }
}
@media screen and (max-width: 540px) {
  main .main-top .uknown-logo {
    width: 10vh;
    height: 10vh;
  }
}

.white-block {
  width: 100%;
  height: 6rem;
  background-color: #fff;
}
@media screen and (max-width: 1080px) {
  .white-block {
    width: 100%;
    height: 4rem;
  }
}
@media screen and (max-width: 780px) {
  .white-block {
    width: 100%;
    height: 3rem;
  }
}
@media screen and (max-width: 540px) {
  .white-block {
    width: 100%;
    height: 2rem;
  }
}

.dark-block {
  width: 100%;
  height: 6rem;
  background-color: #101010;
}
@media screen and (max-width: 1080px) {
  .dark-block {
    width: 100%;
    height: 4rem;
  }
}
@media screen and (max-width: 780px) {
  .dark-block {
    width: 100%;
    height: 3rem;
  }
}
@media screen and (max-width: 540px) {
  .dark-block {
    width: 100%;
    height: 2rem;
  }
}

.dark-block-2 {
  width: 100%;
  height: 2rem;
  background-color: #101010;
}
@media screen and (max-width: 1080px) {
  .dark-block-2 {
    width: 100%;
    height: 2rem;
  }
}
@media screen and (max-width: 780px) {
  .dark-block-2 {
    width: 100%;
    height: 1rem;
  }
}
@media screen and (max-width: 540px) {
  .dark-block-2 {
    width: 100%;
    height: 0.5rem;
  }
}

main .main-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  background-color: #101010;
}
main .main-bottom .color-white {
  color: #fff;
}
main .main-bottom .header-white-wrap {
  text-align: center;
  color: #fff;
}
main .main-bottom .header-white-wrap h1 {
  padding-top: 2rem;
}
@media screen and (max-width: 1080px) {
  main .main-bottom .header-white-wrap h1 {
    padding-top: 1rem;
  }
}
@media screen and (max-width: 780px) {
  main .main-bottom .header-white-wrap h1 {
    padding-top: 0.5rem;
  }
}
main .main-bottom .header-white-wrap h2 {
  padding-top: 2rem;
  padding-bottom: 1rem;
}
@media screen and (max-width: 1080px) {
  main .main-bottom .header-white-wrap h2 {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
}
@media screen and (max-width: 780px) {
  main .main-bottom .header-white-wrap h2 {
    padding-top: 0.5rem;
    padding-bottom: 0.25rem;
  }
}
main .main-bottom .broschyr-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1080px) {
  main .main-bottom .broschyr-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
main .main-bottom .broschyr-wrap .broschyr {
  width: 70%;
  height: 45vh;
  padding: 1rem;
}
@media screen and (max-width: 1080px) {
  main .main-bottom .broschyr-wrap .broschyr {
    width: 70%;
    height: 50%;
  }
}
@media screen and (max-width: 780px) {
  main .main-bottom .broschyr-wrap .broschyr {
    width: 60%;
    height: 50%;
  }
}
main .main-bottom .product-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main .main-bottom .product-wrap .product {
  width: 70%;
  height: 30vh;
  padding: 1rem;
}
@media screen and (max-width: 1080px) {
  main .main-bottom .product-wrap .product {
    width: 20%;
    height: 30%;
  }
}
main .main-bottom .face-img-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 96vh;
  height: 20vh;
  padding-bottom: 1rem;
}
@media screen and (max-width: 1630px) {
  main .main-bottom .face-img-wrap {
    width: 96vh;
    height: 20vh;
    padding-bottom: 2rem;
  }
}
@media screen and (max-width: 1080px) {
  main .main-bottom .face-img-wrap {
    width: 86vh;
    height: 15vh;
    padding-bottom: 0.5rem;
  }
}
@media screen and (max-width: 900px) {
  main .main-bottom .face-img-wrap {
    width: 76vh;
    height: 15vh;
  }
}
@media screen and (max-width: 780px) {
  main .main-bottom .face-img-wrap {
    width: 60vh;
    height: 10vh;
  }
}
@media screen and (max-width: 650px) {
  main .main-bottom .face-img-wrap {
    width: 50vh;
    height: 10vh;
  }
}
@media screen and (max-width: 540px) {
  main .main-bottom .face-img-wrap {
    width: 46vh;
    height: 8vh;
    padding-bottom: 0.25rem;
  }
}
@media screen and (max-width: 450px) {
  main .main-bottom .face-img-wrap {
    width: 36vh;
    height: 8vh;
  }
}
main .main-bottom .face-img-wrap .face-img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20vh;
  height: 20vh;
}
@media screen and (max-width: 1080px) {
  main .main-bottom .face-img-wrap .face-img {
    width: 15vh;
    height: 15vh;
  }
}
@media screen and (max-width: 780px) {
  main .main-bottom .face-img-wrap .face-img {
    width: 10vh;
    height: 10vh;
  }
}
@media screen and (max-width: 540px) {
  main .main-bottom .face-img-wrap .face-img {
    width: 8vh;
    height: 8vh;
  }
}
main .main-bottom .about-text-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vh;
  height: 20vh;
}
@media screen and (max-width: 1630px) {
  main .main-bottom .about-text-wrap {
    width: 103vh;
    height: 20vh;
  }
}
@media screen and (max-width: 1080px) {
  main .main-bottom .about-text-wrap {
    width: 93vh;
    height: 20vh;
  }
}
@media screen and (max-width: 900px) {
  main .main-bottom .about-text-wrap {
    width: 83vh;
    height: 20vh;
  }
}
@media screen and (max-width: 780px) {
  main .main-bottom .about-text-wrap {
    width: 61vh;
    height: 15vh;
  }
}
@media screen and (max-width: 650px) {
  main .main-bottom .about-text-wrap {
    width: 51vh;
    height: 15vh;
  }
}
@media screen and (max-width: 540px) {
  main .main-bottom .about-text-wrap {
    width: 46vh;
    height: 14vh;
  }
}
@media screen and (max-width: 450px) {
  main .main-bottom .about-text-wrap {
    width: 36vh;
    height: 14vh;
  }
}
main .main-bottom .about-text-wrap .about-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4rem;
  color: #fff;
}
main .main-bottom .references-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main .main-bottom .references-wrap .references {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 780px) {
  main .main-bottom .references-wrap .references {
    width: 70%;
    height: 70%;
  }
}
main .main-bottom .conact-form-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 60vh;
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #d8d8d8;
}
main .main-bottom .conact-form-wrap input, main .main-bottom .conact-form-wrap textarea {
  font-size: 0.8rem;
}
@media screen and (max-width: 780px) {
  main .main-bottom .conact-form-wrap input, main .main-bottom .conact-form-wrap textarea {
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 540px) {
  main .main-bottom .conact-form-wrap input, main .main-bottom .conact-form-wrap textarea {
    font-size: 0.4rem;
  }
}
main .main-bottom .conact-form-wrap .input-group-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main .main-bottom .conact-form-wrap .input-group {
  margin-bottom: 1rem;
  width: 45%;
}
main .main-bottom .conact-form-wrap .input-group label {
  font-weight: bold;
  font-size: 0.9rem;
}
@media screen and (max-width: 780px) {
  main .main-bottom .conact-form-wrap .input-group label {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 540px) {
  main .main-bottom .conact-form-wrap .input-group label {
    font-size: 0.5rem;
  }
}
main .main-bottom .conact-form-wrap .input-group2 {
  margin-bottom: 1rem;
}
main .main-bottom .conact-form-wrap .input-group2 label {
  font-weight: bold;
  font-size: 0.9rem;
}
@media screen and (max-width: 780px) {
  main .main-bottom .conact-form-wrap .input-group2 label {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 540px) {
  main .main-bottom .conact-form-wrap .input-group2 label {
    font-size: 0.5rem;
  }
}
main .main-bottom .conact-form-wrap .input-group3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}
@media screen and (max-width: 780px) {
  main .main-bottom .conact-form-wrap .input-group3 {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 540px) {
  main .main-bottom .conact-form-wrap .input-group3 {
    font-size: 0.5rem;
  }
}
main .main-bottom .conact-form-wrap .radio-text, main .main-bottom .conact-form-wrap .terms-text {
  padding-left: 0.25rem;
}
main .main-bottom .conact-form-wrap .input-label {
  width: 100%;
  margin-bottom: 0.5rem;
}
main .main-bottom .conact-form-wrap .form-control {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #d8d8d8;
}
main .main-bottom .conact-form-wrap .form-control2 {
  width: 100%;
  height: 10vh;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #d8d8d8;
}
@media screen and (max-width: 780px) {
  main .main-bottom .conact-form-wrap .form-control2 {
    width: 100%;
    height: 5vh;
  }
}
main .main-bottom .conact-form-wrap .btn-submit {
  width: 100%;
  padding: 0.8em 1.4em;
  border-radius: 0.5rem;
  border: 0;
  outline: none;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}
@media screen and (max-width: 540px) {
  main .main-bottom .conact-form-wrap .btn-submit {
    font-size: 0.5rem;
  }
}
main .main-bottom .conact-form-wrap .btn-primary {
  background-color: hsl(202deg, 95%, 46%);
  color: #ffffff;
  transition: background 70ms;
}
main .main-bottom .conact-form-wrap .btn-primary:hover, main .main-bottom .conact-form-wrap .btn-primary:focus {
  background-color: hsl(202deg, 95%, 51%);
}
main .main-bottom .conact-form-wrap .btn-primary:active {
  background-color: hsl(202deg, 95%, 41%);
}

footer {
  width: 100%;
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
@media screen and (max-width: 1080px) {
  footer {
    width: 100%;
    height: 4rem;
  }
}
@media screen and (max-width: 750px) {
  footer {
    width: 100%;
    height: 3rem;
  }
}
@media screen and (max-width: 400px) {
  footer {
    width: 100%;
    height: 2rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
* p {
  font-family: "Roboto", sans-serif;
}
@media screen and (max-width: 1080px) {
  * h1, * span, * a {
    font-size: 1rem;
  }
  * h2 {
    font-size: 0.9rem;
  }
  * h3 {
    font-size: 0.85rem;
  }
  * p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 780px) {
  * h1, * span, * a {
    font-size: 0.6rem;
  }
  * h2 {
    font-size: 0.5rem;
  }
  * h3 {
    font-size: 0.45rem;
  }
  * p {
    font-size: 0.4rem;
  }
}
@media screen and (max-width: 540px) {
  * h1, * span, * a {
    font-size: 0.5rem;
  }
  * h2 {
    font-size: 0.4rem;
  }
  * h3 {
    font-size: 0.35rem;
  }
  * p {
    font-size: 0.3rem;
  }
}/*# sourceMappingURL=style.css.map */