@import "partials/variables";
@import "partials/mixins";
@import "partials/header";
@import "partials/main-mid";
@import "partials/main-top";
@import "partials/blocks";
@import "partials/main-bottom";
@import "partials/footer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    p {
        font-family: 'Roboto', sans-serif;
    }

    @media screen and (max-width: 1080px) {
        h1, span, a {
            font-size: 1rem;
        }
        h2 {
            font-size: 0.9rem;
        }
        p {
            font-size: 0.8rem;
        }
    }
    @media screen and (max-width: 780px) {
        h1, span, a {
            font-size: 0.6rem;
        }
        h2 {
            font-size: 0.5rem;
            // padding-top: 1rem;
        }
        p {
            font-size: 0.4rem;
        }
    }
    @media screen and (max-width: 540px) {
        h1, span, a {
            font-size: 0.5rem;
        }
        h2 {
            font-size: 0.4rem;
            // padding-top: 0.5rem;
        }
        p {
            font-size: 0.3rem;
        }
    }
}